{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": ["@babel/transform-runtime", "@babel/plugin-syntax-dynamic-import"]
}
