$block: 'lightbox';

$pre-animation-transform: scale(0.75);
$animation-name: fadeIn;
$animation-duration: 500ms;
$animation-timming: cubic-bezier(0.86, 0, 0.07, 1);
$animating-class: 'is-animating';

.#{$block}-container,
.#{$block}-container::after,
.#{$block}-container::before,
.#{$block}-container *,
.#{$block}-container *::after,
.#{$block}-container *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.#{$block}-container {
  height: 100vh;
  left: 0;
  opacity: 1;
  padding: 1em;
  position: fixed;
  top: 0;
  transform: scale(1);
  transition: transform 350ms ease, opacity 400ms ease-out;
  width: 100%;
  will-change: transform, opacity;

  .#{$block}-overlay {
    background-color: #121212;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    position: absolute;
    right: 0;
    top: 0;
  }

  .#{$block}-container[aria-hidden='true'] {
    opacity: 0;
    transform: scale(0);
  }

  .#{$block}__close,
  .#{$block}-controls__prev,
  .#{$block}-controls__next {
    background: rgba(10, 10, 10, 0.58);
    background: transparent;
    border: 0;
    border-radius: 50%;
    height: 2rem;
    line-height: 1;
    outline: none;
    padding: 0.5em;
    position: absolute;
    width: 2rem;
  }

  .#{$block}__close:focus,
  .#{$block}-controls__prev:focus,
  .#{$block}-controls__next:focus {
    outline: 1px solid rgba(150, 150, 150, 0.8);
    outline-offset: 0.25em;
  }

  .#{$block}-controls__prev,
  .#{$block}-controls__next {
    top: 50%;
    transform: translate3d(0%, -50%, 0);
  }

  .#{$block}__close {
    right: 1.5rem;
    top: 1.5rem;
  }

  .#{$block}-controls__prev {
    left: 1.5rem;
  }

  .#{$block}-controls__next {
    right: 1.5rem;
  }

  .#{$block}-image {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 75%;

    .#{$block}__image {
      border-radius: 4px;
      width: 100%;

      &.#{$animating-class} {
        animation: $animation-name $animation-duration $animation-timming;
        opacity: 0;
        transform: $pre-animation-transform;
      }
    }
  }
}

@keyframes fadeIn {
  45% {
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
