$tmlb-block: 'lightbox'; // Name of the base selector for all classes

$tmlb-pre-animation-transform: scale(0.98); // Transformation(s) needed for .lightbox__image before in
$tmlb-animating-class: 'is--animating'; // Animating class (should match the used in the Javascript)
$tmlb-animation-name: fadeIn; // Animation name would be used once the .lightbox__image.is--animating
$tmlb-animation-duration: 750ms; // Animation duration
$tmlb-animation-timming: ease-in-out; // Animation timming-function
$tmlb-max-image-width: 960px; // max width for the .lightbox__image
$tmlb-max-image-height: 520px; // max height for the .lightbox__image

.#{$tmlb-block}-container,
.#{$tmlb-block}-container::after,
.#{$tmlb-block}-container::before,
.#{$tmlb-block}-container *,
.#{$tmlb-block}-container *::after,
.#{$tmlb-block}-container *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.#{$tmlb-block}-container {
  height: 100vh;
  left: 0;
  opacity: 1;
  padding: 1em;
  position: fixed;
  top: 0;
  transform: scale(1);
  transition: transform 350ms ease, opacity 400ms ease-out;
  width: 100%;
  will-change: transform, opacity;

  &[aria-hidden] {
    transform: scale(0);
  }

  .#{$tmlb-block}-overlay {
    background-color: #121212;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    position: absolute;
    right: 0;
    top: 0;
  }

  .#{$tmlb-block}-container[aria-hidden='true'] {
    opacity: 0;
    transform: scale(0);
  }

  .#{$tmlb-block}__close,
  .#{$tmlb-block}-controls__prev,
  .#{$tmlb-block}-controls__next {
    background: rgba(10, 10, 10, 0.58);
    background: transparent;
    border: 0;
    border-radius: 50%;
    height: 2rem;
    line-height: 1;
    outline: none;
    padding: 0.5em;
    position: absolute;
    width: 2rem;
  }

  .#{$tmlb-block}__close:focus,
  .#{$tmlb-block}-controls__prev:focus,
  .#{$tmlb-block}-controls__next:focus {
    outline: 1px solid rgba(150, 150, 150, 0.8);
    outline-offset: 0.25em;
  }

  .#{$tmlb-block}-controls__prev,
  .#{$tmlb-block}-controls__next {
    top: 50%;
    transform: translate3d(0%, -50%, 0);
  }

  .#{$tmlb-block}__close {
    right: 1.5rem;
    top: 1.5rem;
  }

  .#{$tmlb-block}-controls__prev {
    left: 1.5rem;
  }

  .#{$tmlb-block}-controls__next {
    right: 1.5rem;
  }

  .#{$tmlb-block}-image {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 75%;

    .#{$tmlb-block}__image {
      border-radius: 4px;
      max-height: $tmlb-max-image-height;
      max-width: $tmlb-max-image-width;
      object-fit: cover;
      width: 100%;

      &.#{$tmlb-animating-class} {
        animation: $tmlb-animation-name $tmlb-animation-duration $tmlb-animation-timming;
        opacity: 0;
        transform: $tmlb-pre-animation-transform;
      }
    }
  }
}

@keyframes fadeIn {
  85% {
    transform: scale(1);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
